@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

.fadeIn {
  animation: 0.5s fadeIn forwards;
}

.fadeOut {
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-20px, 0);
  }
  to {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(-20px, 0);
    opacity: 0;
  }
}

html {
  height: 100%;
}

#root {
  display: flex;
  flex-grow: 1;
  width: 100%;
  height: 100%;
}

div.app {
  height: 100%;
}

body {
  height: 100%;
  background: #171717;
  /* background: white; */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@layer base {
  h1 {
    @apply text-5xl;
  }
  h2 {
    @apply text-4xl;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }
  h5 {
    @apply text-lg;
  }
}

.home-btn {
  opacity: 0;
  animation: opacity 1s cubic-bezier(0.2, 0, 0.2, 1) forwards;
  animation-delay: 0.15s;
}

.home-h4 {
  opacity: 0;
  animation: opacity 2s cubic-bezier(0.2, 0, 0.4, 1) 0.2s forwards;
}

.home-h1 {
  opacity: 0;
  animation: opacity 2s cubic-bezier(0.2, 0, 0.4, 1) 0.2s forwards;
}

.content-home::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: cyan;
  opacity: 0.01;
  filter: blur(40px);
  backdrop-filter: blur(40px);
  user-select: none;
  pointer-events: none;
}

.manrope {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Определяем кастомные свойства для анимации */
@property --rr {
  syntax: "<angle>";
  inherits: false;
  initial-value: -90deg;
}

@property --ar {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 100%;
}

@property --br {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 100%;
}

@property --cr {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 100%;
}

@property --dr {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 100%;
}

@property --er {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 100%;
}

@property --fr {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 100%;
}

@property --gr {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 100%;
}

@property --hr {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 100%;
}

@property --ir {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 100%;
}

@property --rl {
  syntax: "<angle>";
  inherits: false;
  initial-value: 90deg;
}

@property --al {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 0%;
}

@property --bl {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 0%;
}

@property --cl {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 0%;
}

@property --dl {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 0%;
}

@property --el {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 0%;
}

@property --fl {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 0%;
}

@property --gl {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 0%;
}

@property --hl {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 0%;
}

@property --il {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 0%;
}

.back::before,
.back::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  user-select: none;
  pointer-events: none;
}

.back::before {
  animation: animate-l 2s cubic-bezier(0.2, 0, 0, 1) forwards,
    opacity 2s cubic-bezier(0.2, 0, 0, 1) forwards;
  left: 0;
  right: 50%;
  background: conic-gradient(
    from var(--rl) at 50% 30%,
    rgba(0, 0, 0, 0) var(--al),
    rgba(231, 82, 170, 0.18) var(--bl),
    rgba(221, 79, 164, 0.6) var(--cl),
    rgb(196, 63, 148) var(--dl),
    rgb(239, 89, 178) var(--el),
    rgb(135, 1, 81) var(--fl),
    rgba(24, 19, 26, 0.13) var(--gl),
    rgba(7, 22, 18, 0) var(--hl),
    rgba(0, 0, 0, 0) var(--il)
  );
}

.back::after {
  animation: animate-r 2s cubic-bezier(0.2, 0, 0, 1) forwards,
    opacity 2s cubic-bezier(0.2, 0, 0, 1) forwards;
  right: 0;
  left: 50%;
  background: conic-gradient(
    from var(--rr) at 50% 30%,
    rgba(0, 0, 0, 0) var(--ar),
    rgba(7, 22, 18, 0) var(--br),
    rgba(24, 19, 26, 0.13) var(--cr),
    rgb(135, 1, 81) var(--dr),
    rgb(239, 89, 178) var(--er),
    rgb(196, 63, 148) var(--fr),
    rgba(221, 79, 164, 0.6) var(--gr),
    rgba(231, 82, 170, 0.18) var(--hr),
    rgba(0, 0, 0, 0) var(--ir)
  );
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes animate-l {
  0% {
    --rl: 90deg;
    --al: 0%;
    --bl: 0%;
    --cl: 0%;
    --dl: 0%;
    --el: 0%;
    --fl: 0%;
    --gl: 0%;
    --hl: 0%;
    --il: 0%;
  }
  100% {
    --rl: 75.6deg;
    --al: 0%;
    --bl: 3.6%;
    --cl: 3.85%;
    --dl: 3.99%;
    --el: 4.15%;
    --fl: 25%;
    --gl: 38%;
    --hl: 88%;
    --il: 100%;
    opacity: 1;
  }
}

@keyframes animate-r {
  0% {
    --rr: -90deg;
    --ar: 100%;
    --br: 100%;
    --cr: 100%;
    --dr: 100%;
    --er: 100.03%;
    --fr: 100%;
    --gr: 100%;
    --hr: 100%;
    --ir: 100%;
  }
  100% {
    --rr: -75.6deg;
    --ar: 0%;
    --br: 12%;
    --cr: 62%;
    --dr: 75%;
    --er: 95.85%;
    --fr: 95.99%;
    --gr: 96.15%;
    --hr: 96.4%;
    --ir: 100%;
  }
}
.cyrcle {
  animation: opacity 2s cubic-bezier(0.2, 0, 0, 1) forwards;
  position: absolute;
  height: 317px;
  left: 25%;
  right: 25%;
  top: 30%;
  filter: blur(110px);
  background: rgb(196, 0, 116);
}
.quotations::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: radial-gradient(
    at top left,
    rgb(200, 255, 255),
    rgba(0, 255, 255, 0) 70%
  );
  filter: blur(80px);
  width: 60%;
  height: 100%;
  z-index: -50;
}
.quotations::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  background: radial-gradient(
    at bottom right,
    rgb(200, 255, 255),
    rgba(0, 255, 255, 0) 70%
  );
  filter: blur(80px);
  width: 60%;
  height: 100%;
  z-index: -50;
}
